.signInputBox{
  width: 330px;
  height: 50px;
  margin-top: 10px;
  border: 1px solid silver;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    font-size: 1.4rem;
    justify-self: flex-start;
  }
}

.focus {
    width: 330px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid #de383f;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    color: #de383f;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
        font-size: 1.4rem;
        justify-self: flex-start;
      }
}

.errmsg {
    color: #de383f;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
}
.none {
    display: none;
}